footer{
    background-color: gainsboro;
    margin-top: 150px;
    margin-bottom: 0px;
        p{
            font-family: 'Montserrat';
            font-size: 1.3rem ;
                h6{
                    font-size: 2rem;
                }
        }
}